<% provide(:title, "Your Artist Account") %>

<h1>These are you details:</h1>
<p>Your Email:  <%= current_artist.email %></p>

<p>Your Name:  <%= current_artist.a_name %></p>

<p>Your Address:  <%= current_artist.a_address %></p>

<p>Your Phone:  <%= current_artist.a_phonenumber %></p>

<p>Your PayPal Email:  <%= current_artist.a_paypal %></p>