<% provide(:title, "Your Artist Account") %>

<h1 class="w3-center">Your account details:</h3>
<table id="customers">
    <tbody>
      <tr>
          <td>Your Email (Username): </td>
          <td><%= current_artist.email %></td>
      </tr>
      <tr>
          <td>Your Name: </td>
          <td><%= current_artist.a_name %></td>
      </tr>
      <tr>
          <td>Your Address: </td>
          <td><%= current_artist.a_address %></td>
      </tr>
      <tr>
          <td>Your Phone Number: </td>
          <td><%= current_artist.a_phonenumber %></td>
      </tr>
       <tr>
          <td>Your PayPal Email: </td>
          <td><%= current_artist.a_paypal %></td>
      </tr>
      
     </tbody>
     
</table>
<br/>

<center><%= link_to 'Edit Your Details',edit_artist_registration_path, :class => "w3-button w3-large w3-black w3-hover-yellow" %></center>

