<% provide(:title, "Your Customer Account") %>

<h1>These are you details:</h1>
<p>Your Email:  <%= current_customer.email %></p>

<p>Your Name:  <%= current_customer.c_name %></p>


<p>Your Phone:  <%= current_customer.c_phonenumber %></p>

<p>Your PayPal Email:  <%= current_customer.c_paypal %></p>

<%= link_to 'Edit Your Details',edit_customer_registration_path, :class => "w3-bar-item w3-button" %>



<h1>YOur FAAVE ARTWORKS</h1>

<% current_customer.favorites.each do |favorite| %>

You add this artwork to favourites: <%= link_to favorite.artwork.title, favorite.artwork %>

<% end %>