<h2>Thank You</h2>
<p>You have place the following order details:</p>

<table id="customers">
    <tr>
         
        <% @orders.limit(1).order(id: :desc).each do |order| %>

       <td>Order reference for the order you just placed is: <%= order.id %></td>
        <% end %>
    </tr>
</table> 

<table id="customers">
     <% @total = 0 %>
    <% @orderartworks.each do |id| %>
      <tr>
        <% artwork = Orderartwork.find_by_id(id) %>
       
        <td><%= artwork.title %></td>
        <td><%= artwork.price %></td>
       <td><%=number_to_currency(artwork.price, :unit => "€")%></td> 
       <td><%= number_to_currency(1 * artwork.price, :unit => "€") %></td>
       </tr>
       
       <% totalx = (1 * artwork.price)%>

     
     
      <% @total += totalx %>
      
      </tr>
    <% end %>
    
    
    <tr>
        
       <td>Order Total: &euro; <%= @total %></td>
       
     </tr>
     
     <% if @total > 70 %>
     
        <% shipping = 0 %>
        
    <% else %>
    <% shipping = 5 %>
    <% end %>
    
      <% @overall = shipping + @total %>
      <tr>
          <td>Shipping &euro;5 (FREE SHIPPING ON ORDERS OVER €70!</td>
          <td>You Pay &euro; <%= @overall %></td>
      </tr>
      
      
</table>


    
    <a href="/paid/<%= @order.id %>" class="w3-button w3-large w3-black w3-hover-deep-orange">Pay for it</a>
    
</div>