<h2>Thank You</h2>
<p>You have place the following order details:</p>

<table id="customers">
    <tr>
         
        <% @orders.limit(1).order(id: :desc).each do |order| %>

       <td>Order reference for the order you just placed is: <%= order.id %></td>
        <% end %>
    </tr>
</table> 

<table id="customers">
     <% @total = 0 %>
    <% @orderartworks.each do |id| %>
      <tr>
        <% artwork = Orderartwork.find_by_id(id) %>
       
        <td><%= artwork.title %></td>
        <td><%= artwork.price %></td>
       <td><%=number_to_currency(artwork.price, :unit => "€")%></td> 
       <td><%= number_to_currency(1 * artwork.price, :unit => "€") %></td>
       </tr>
       
       <% totalx = (1 * artwork.price)%>

     
     
      <% @total += totalx %>
      
      </tr>
    <% end %>
    
    
    <tr>
        
       <td>Order Total: &euro; <%= @total %></td>
       
     </tr>
     
     <% if @total > 70 %>
     
        <% shipping = 0 %>
        
    <% else %>
    <% shipping = 5 %>
    <% end %>
    
      <% @overall = shipping + @total %>
      <tr>
          <td>Shipping &euro;5 (FREE SHIPPING ON ORDERS OVER €70!</td>
          <td>You Pay &euro; <%= @overall %></td>
          <td><!-- PAYPAL CODE HERE!!! -->
        
        <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
          
          <input type="hidden" name="cmd" value="_xclick">
          <input type="hidden" name="business" value="balance@artfox.com">
          <input type="hidden" name="item_name" value="Artfox Order Number <%= @order.id %>">
          <input type="hidden" name="currency_code" value="EUR">
          <input type="hidden" name="amount" value="<%= @overall %>">

          <input type="hidden" name="return" value="https://0caca7c0c00f4427ad1ffe74b6d85ebc.vfs.cloud9.eu-west-1.amazonaws.com/paid/<%= @order.id %>" >
          
          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" 
          name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
          
        </form>
        
        </td>
      </tr>
      
      
</table>


    
    <a href="/paid/<%= @order.id %>" class="w3-button w3-large w3-black w3-hover-deep-orange">Pay for it</a>
    
</div>