<p id="notice"><%= notice %></p>




<p>
<%= image_tag(@artwork.artpic, :class => "itemholsIm") if @artwork.artpic.attached? %>
</p>
<p>
  <strong>Title:</strong>
  <%= @artwork.title %>
</p>

<p>
  <strong>Cat:</strong>
  <%= @artwork.cat %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @artwork.desc %>
</p>

<p>
  <strong>Price:</strong>
  <%= @artwork.price %>
</p>

<p>
  <strong>Imageurl:</strong>
  <%= @artwork.imageurl %>
</p>

<p>
  <strong>Sold:</strong>
  <%= @artwork.sold %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @artwork.artist %>
</p>

<%= link_to favorite_text, artwork_favorites_update_path(artwork: @artwork), id:'favorite_link', remote: true %> 
<br/>

<%= link_to 'Edit', edit_artwork_path(@artwork) %> |
<%= link_to 'Back', artworks_path %>

