<p id="notice"><%= notice %></p>

<div class="w3-content w3-container w3-padding-64">
  
  <h1 class="w3-center">ORDER DETAILS</h1>


   <% if @order.customer.email == @customer.email %>
  
    <p>
  <strong>Order date:</strong>
  <%= @order.order_date %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.customer.email %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>

<br/><br/>


  <h1>Items in this order are</h1>
  <table id="customers">
      
      <tr>
        <th>Order ID no.</th>
        <th>Item ID no.</th>
        <th>Album Title</th>
        <th>Quantity</th>
        <th>Album Price</th>
        <th>Total Price</th>
        
    </tr>
      
      <% @total = 0 %>
    <% @orderartworks.each do |orderartwork| %>
    
    
     
    <tr>
      <td><%= orderartwork.order_id %></td>
      <td><%= orderartwork.id %></td>
      <td><%= orderartwork.title %></td>
      <td><%= orderartwork.cat %></td>
      <td><%= orderartwork.price %></td>
      <% linetotal =(1 * orderartwork.price) %>
    
     <td><%= linetotal %></td>
      </tr>
      <% @total += linetotal %>
    <% end %>
    
     <tr>
       
       <% if @total > 70 %>
       
        <% shipping = 0 %>
        
      <% else %>
      <% shipping = 5 %>
      <% end %>
      
        <% @grandtotal = shipping + @total %>
        <td>Shipping &euro;5</td>
        <td>Your Total payable today is: &euro;<%= @grandtotal %></td>
        <td><a href="/paid/<%= @order.id %>" class="w3-button w3-large w3-black w3-hover-deep-orange">Pay for it</a></td>
        </tr>
   </table> 
   
   
      <% else %>
   
      <h1>You did not place this order</h1>
      
      <% end %>
  
  


    
    
    
</div>