<h1 class="w3-center">Log in to your Customer(Buyer) Account</h1>

<center>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
   <table id="customers">
    <tbody>
      <tr>
        <td><%= f.label :email %></td>
        <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
      </tr>
      <tr>
        <td><%= f.label :password %></td>
        <td><%= f.password_field :password, autocomplete: "current-password" %></td>
      </tr>
      <tr><% if devise_mapping.rememberable? %>
        <td align="right"><%= f.check_box :remember_me %></td>
        <td><%= f.label :remember_me %> </td>
      </tr><% end %>
      <tr>
        <td colspan="2"><center><%= f.submit "Log in" %></center></td>
      </tr>
    </tbody>
  </table>
<% end %>

<%= render "customers/shared/links" %>

</center>