<!DOCTYPE html>
<html>
  <head>
<title><%= yield(:title) %> | ArtFox Online Art Gallery</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= stylesheet_link_tag    'application', 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Lato', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    
    <%= stylesheet_link_tag    'w3', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


</head>

<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar" id="topNavbar">
    <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
    </a>
    <%= link_to "HOME",  "/", :class => "w3-bar-item w3-button" %>
    <%= link_to "ABOUT US", aboutus_path, :class => "w3-bar-item w3-button w3-hide-small" %>
    <%= link_to "FAQ", faq_path, :class => "w3-bar-item w3-button w3-hide-small" %>
    <%= link_to "BROWSE ARTWORKS", "/artworks", :class => "w3-bar-item w3-button w3-hide-small" %>
    <% if !artist_signed_in? && !customer_signed_in? %>
    <%= link_to 'Register as Artist', new_artist_registration_path, :class => "w3-bar-item w3-button w3-hide-small" %>
    <%= link_to 'Sign in as Artist', new_artist_session_path, :class => "w3-bar-item w3-button w3-hide-small" %>
    <%= link_to 'Register as Customer', new_customer_registration_path, :class => "w3-bar-item w3-button w3-hide-small" %>
    <%= link_to 'Sign in as Customer', new_customer_session_path, :class => "w3-bar-item w3-button w3-hide-small" %>
    <% end %>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-red">
      <i class="fa fa-search"></i>
    </a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
    
    <a href="/aboutus" class="w3-bar-item w3-button" onclick="toggleFunction()">ABOUT</a>
    <a href="/faq" class="w3-bar-item w3-button" onclick="toggleFunction()">F.A.Q.</a>
    <a href="/artworks" class="w3-bar-item w3-button" onclick="toggleFunction()">BROWSE ART</a>
    <a href="#" class="w3-bar-item w3-button">SEARCH</a>
  </div>
</div>

<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle" style="white-space:nowrap;">
    <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">ARTFOX <span class="w3-hide-small">ONLINE</span> ART GALLERY</span>
  </div>
</div>

<!-- MAIN PAGE CONTENT IN THIS SECTION -->
<div class="w3-content w3-container w3-padding-64">
  
  
  <% if artist_signed_in? || customer_signed_in? %>
  
  <div id ="userPanel">
  
  
  
  <!-- Second page menu -->
  <% if artist_signed_in? %>
                <h3 class="w3-left">Welcome Back, <%= current_artist.a_name %>! Choose your options below...</h3> 
   <% elsif customer_signed_in? %>
   <h3 class="w3-left">Welcome Back, <%= current_customer.c_name %>! Choose your options below...</h3> 
   <% end %>
   
  <div class="w3-bar">
     <!-- This code deals with Artist -->
        <% if artist_signed_in? %>
                 
                 <%= link_to "Your Artist Account", "/artist-account", :class => "w3-bar-item w3-button w3-yellow" %>
                 <%= link_to "View Your Art Portfolio", "/artworks", :class => "w3-bar-item w3-button w3-yellow"  %>
                 <%= link_to 'Sign out', destroy_artist_session_path, :class => "w3-bar-item w3-button w3-yellow", :method => :delete %>
          <!-- This code deals with Customer -->
          <% elsif customer_signed_in? %>
                 
                 
                 <%= link_to "Your Customer Account", "/customer-account", :class => "w3-bar-item w3-button w3-yellow" %>
                 <%= link_to "View Your Previous Orders", orders_path, :class => "w3-bar-item w3-button w3-yellow"  %>
                 <%= link_to "View Cart", "cart/index", :class => "w3-bar-item w3-button w3-black"  %>
                 <%= link_to 'Sign out', destroy_customer_session_path, :class => "w3-bar-item w3-button w3-yellow", :method => :delete %>
             
          <% end %>
    
  </div>
  
 

</div>

<% end %>

 <% if flash[:notice] %>
          <p class="notice"><%= flash[:notice] %></p>
 <% end %>
 <% if flash[:alert] %>
          <p class="alert"><%= flash[:alert] %></p>
 <% end %>
  
  <%= yield %>
  
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64">
  <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-xlarge w3-section">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>
 
<script>
// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}

// Change style of navbar on scroll
window.onscroll = function() {myFunction()};
function myFunction() {
    var navbar = document.getElementById("myNavbar");
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
        navbar.className = "w3-bar" + " w3-card" + " w3-animate-top" + " w3-white";
    } else {
        navbar.className = navbar.className.replace(" w3-card w3-animate-top w3-white", "");
    }
}

// Used to toggle the menu on small screens when clicking on the menu button
function toggleFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>
</html>

      
      
   

    


