<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | ArtFox Online Art Gallery</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <h1>Art Fox Online Art Gallery - Prototype</h1>
      
      <ul>
        <li><%= link_to "Home",  "/" %></li>
        <li><%= link_to "About Us", aboutus_path %></li>
        <li><%= link_to "FAQ", faq_path %></li>
        
        <!-- This code deals with Artist -->
        <% if artist_signed_in? %>
                 <li>Hi, Artist: <%= current_artist.a_name %></li>
                 <li><%= link_to 'Edit Artist Profile',edit_artist_registration_path %></li>
                 <li><%= link_to "Your Artist Account", "/artist-account" %></li>
                 <li><%= link_to 'Sign out', destroy_artist_session_path, :method => :delete %></li>
          <!-- This code deals with Customer -->
          <% elsif customer_signed_in? %>
                 <li>Hi, Customer: <%= current_customer.c_name %></li>
                 <li><%= link_to 'Edit Customer Profile',edit_customer_registration_path %></li>
                 <li><%= link_to "Your Customer Account", "/customer-account" %></li>
                 <li><%= link_to 'Sign out', destroy_customer_session_path, :method => :delete %></li>
                 
          <% else %>
                  <li><%= link_to 'Register as Artist', new_artist_registration_path %></li> 
                 <li><%= link_to 'Sign in as Artist', new_artist_session_path %></li>
                 <li><%= link_to 'Register as Customer', new_customer_registration_path %></li> 
                 <li><%= link_to 'Sign in as Customer', new_customer_session_path %></li>
          <% end %>
        
      </ul>

  <body>
    <%= yield %>
  </body>
</html>
      
      
   

    


